# Copie este arquivo e renomeie para apenas '.env' no seu servidor caseiro.
# Preencha com as suas chaves de API correspondentes:

GEMINI_API_KEY=insira_sua_chave_gemini_aqui
DEEPSEEK_API_KEY=insira_sua_chave_deepseek_aqui
